.baseNodeStyle {
  align-items: flex-start;
  border-radius: 8px;
  box-shadow:
    0 2px 4px 0 #00000014,
    0 -2px 4px 0 #0000000f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 264px;
  border: 2px solid white;
}

.activated {
  border: 2px solid rgb(var(--primary-6));
}
.noShadow {
  box-shadow: none;
  border: 2px solid transparent;
}
