.tools {
  position: absolute;
  z-index: 10;
  bottom: 25px;
  right: 36%;
  display: flex;
  gap: 8px;
  background-color: #fff;
  height: 40px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);

  .toolItem {
    background-color: #fff;

    .toolIcon {
      width: 15px;
      height: 15px;
      color: black;
    }
  }
}
