.tableHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.searchGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}





.tableFormItem {
  .arco-form-label-item {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    label {
      white-space: nowrap;
    }
  }
}

.searchItems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 92%;
}

.searchItem {
  min-width: 200px;
  max-width: 400px;
  margin-bottom: 0;
}

.searchBtns {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
