.data-factory-page {
  height: calc(100vh - 60px);
  .menu {
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-right: 1px solid #e5e6eb;
  }
  .sider {
    height: 100%;
  }
  .content {
    // padding: 24px;
    position: relative;
    // height: 100%;
  }
}
