/* 实体页面样式 */
.entity-page {
  &-content {
    height: calc(100% - 160px);
    width: calc(100% - 98px);
    position: absolute;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    &-left {
      display: flex;
      align-items: center;
      &-name, &-tag {
        margin-right: 6px;
      }
    }
  }
}

/* 空实体页面样式 */
.empty-entity-page {
  text-align: center;
  margin-top: 10%;
}

/* 创建业务实体页面样式 */
.create-entity-page {
  padding: 24px;
  
  .page-title {
    font-size: 20px;
    font-weight: 600;
    color: #1d2129;
    margin-bottom: 24px;
    text-align: center;
  }
}

/* 业务实体表单样式 */
.entity-form {
  max-width: 560px;
  margin: 0 auto;
  .form-item-operation {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    & button {
      margin-left: 10px;
    }
  }
}