.datasetPage {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;

  .datasetTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .dataFilter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    .appInput {
      width: 240px;
      height: 32px;
      & span {
        border-radius: 16px;
      }
    }
  }
}
