.nodeAddPanel {
  height: calc(100vh - 64px - 64px);
  background: #f7f7fa;
  width: 250px;
  overflow-y: hidden;
  box-sizing: border-box;
  border-right: 1px solid rgba(29, 28, 35, 0.08);
}

.panelTitle {
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  font-weight: 600;
  margin-bottom: 8px;
}

.nodeCardContainer {
  width: 100%;
  height: calc(100% - 32px);
  overflow-y: scroll;
}

.nodeCardTab {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nodeCard {
  width: 140px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 8px 0 rgba(28, 31, 35, 0.03);
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  padding: 10px;
  position: relative;
  color: black;
}
