.statusTag {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
}

.enable {
  background-color: #00b42a;
}

.disable {
  background-color: #f53f3f;
}