.actionButtons {
  // 重置按钮 padding
  // margin: 0 16px;
  :global {
    .pc-btn {
      padding: 0;
    }

    .pc-btn-size-default.pc-btn-icon-only {
      width: 12px;
      height: 12px;
    }
  }
}