.appsList {
  padding: 0.12rem 0.16rem;
  background-color: #fff;
  margin: 0 0.12rem;
  border-radius: 0.06rem;
  margin-bottom: 0.12rem;

  .label {
    font-size: 0.16rem;
    line-height: 0.24rem;
    font-weight: bold;
    color: #272e3b;
    margin-bottom: 0.12rem;
  }
  .treeItem {
    font-size: 0.16rem;
    line-height: 0.56rem;
    color: #1d2129;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0; // #F2F3F5;
    height: 0.56rem;
    :global {
      .arco-ellipsis {
        font-size: 0.16rem;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .treeItemIcon {
    height: 0.24rem;
    width: 0.24rem;
    margin-right: 0.08rem;
  }
  .treeItemGroupHeader {
    display: flex;
    align-items: center;
  }
   .treeNone {
      font-size: 0.16rem;
      line-height: 0.56rem;
      color: #909399;
      padding-left: 0.36rem;
    }
  .treeItemGroup {
    // border-bottom: 1px solid #e0e0e0;// #F2F3F5;
    :global {
      .arco-collapse-header {
        height: 0.56rem;
        line-height: 0.56rem;
        margin-left: 0;
        padding: 0;
        color: #1d2129;
        font-size: 0.16rem;
        border-bottom: 1px solid #e0e0e0; // #F2F3F5;
        .arco-ellipsis {
          font-size: 0.16rem;
        }
      }
      .arco-collapse-icon svg,
      .arco-collapse-icon i {
        height: 0.12rem;
        width: 0.12rem;
      }
      .arco-collapse-content-container {
        padding: 0;
      }
    }
  }
}

.gridLayout {
  :global(.arco-grid-rows-item-text) {
    margin-top: 0.04rem;
  }
  :global {
    .arco-ellipsis {
      font-size: 0.16rem;
    }
  }
}

.tabs {
  :global {
    .arco-tab-cell-container-wrap.vertical {
      height: 0.42rem;
      margin-bottom: 0.16rem;
    }
    .arco-tab-cell-container.vertical {
      justify-content: start !important;
    }
    .arco-tab-cell.vertical:not(.custom).line:not(.last) {
      color: #4e5969;
    }
    .arco-tab-cell.vertical:not(.custom).line.active {
      color: rgb(var(--primary-6));
    }
    .arco-tab-cell-underline-inner {
      background-color: rgb(var(--primary-6));
    }
    .arco-tab-cell {
      color: #4e5969;
      text-align: center;
      font-size: 0.16rem;
      &.vertical {
        margin: 0 0.08rem !important;
      }
    }

    .arco-tab-cell-underline {
      border-radius: 4px;
      height: 0.04rem;
      width: 0.24rem;
      background: linear-gradient(301deg, var(--Semantic-Success-600, #00B42A) 25.06%, var(--Brand-Builder-Builder_600, #009E9E) 87.47%);
    }
  }
}
