.configs {
  width: 100%;
  max-height: calc(100vh - 40px - 40px);

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  /* 自定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
