// 左侧五个任务菜单样式
.task-center-side {
    width: 220px; 
    overflow: hidden; 
    box-sizing: border-box; 
    padding: 0px 8px;
    .move-box-ul, .move-box-ul > li {
        list-style: none; margin: 0; padding: 0;
    }
    .ineedtodo-icon, .ihavedone-icon, .icreated-icon, .icopied-icon, .taskproxy-icon {
        width: 18px; height: 18px; display: inline-block; margin-left: -1px;
    }
    .arco-tree-node-title {
        left: -8px;
        // ._menuName_1buax_8 {
        //     display: flex; align-items: center;
        // }
    }
    .ineedtodo-icon {
        background: url(@/assets/images/task_center/willdo.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .ihavedone-icon {
        background: url(@/assets/images/task_center/idone.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .icreated-icon {
        background: url(@/assets/images/task_center/icreated.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .icopied-icon {
        background: url(@/assets/images/task_center/icopied.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .taskproxy-icon {
        background: url(@/assets/images/task_center/taskproxy.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .arco-tree-node-title-text {
        margin-right: 20px;
        display: block;
        & > div {
            justify-content: space-between; align-items: center;
            & > div:nth-child(2) {
                margin: 0 -6px 0 0 !important;
                & > svg {
                    display: none;
                }
            }
        }
    }
    .arco-tree-node-drag-icon {
        top: 14px; color: #333;
    }
    .arco-tree-node-selected {
        .arco-tree-node-drag-icon {
            color: rgb(var(--primary-6));
        }
        .ineedtodo-icon {
            background: url(@/assets/images/task_center/willdo-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .ihavedone-icon {
            background: url(@/assets/images/task_center/idone-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .icreated-icon {
            background: url(@/assets/images/task_center/icreated-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .icopied-icon {
            background: url(@/assets/images/task_center/icopied-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .taskproxy-icon {
            background: url(@/assets/images/task_center/taskproxy-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .arco-tree-node-title-text {
            & > div {
                & > div:nth-child(2) {
                    background: url(@/assets/images/task_center/setting-on.svg) no-repeat center;
                    background-size: 160% auto;
                    & > svg {
                        opacity: 0; display: block;
                    }
                }
            }
        }
    }
    .menu-hidden {
        .arco-tree-node-title-text > div {
            opacity: 0.5;
        }
    }
}