.formWrapper {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;

  .arco-form-label-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    label {
      white-space: nowrap;
    }
  }
}
