@editor-config-width: 310px;

.formEditorPage {
  /* 编辑器内容区域样式 */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .leftContainer {
    width: calc(100vw - @editor-config-width);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rightContainer {
    width: @editor-config-width;
    height: 100%;
    box-sizing: border-box;
  }
}
