<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmsr.onebase.module.app.core.dal.mapper.AppTagMapper">

    <select id="selectNameCounts" resultType="com.cmsr.onebase.module.app.core.vo.tag.TagGroupCountVO">
        select id, tag_name, sum(one) as counts
        from
        (
        select tag.id, tag.tag_name,
        case
        when aat.application_id is null then 0
        else 1
        end as one
        from
        app_application_tag aat
        full outer join app_tag tag on
        aat.tag_id = tag.id
        where
        tag.id is not null and tag.tenant_id = #{tenantId}
        and
        (aat.deleted = 0
        or aat.deleted is null)
        and (tag.deleted = 0
        or tag.deleted is null)
        ) as subquery
        where
        id is not null
        group by
        id,
        tag_name
        order by
        counts desc
    </select>
</mapper>
