.appStatusHeader {
  width: 100%;
  box-sizing: border-box;

  background: #fff;
  border-radius: 8px;
  border: 1px solid #e5e6eb;

  padding: 16px;
}

.statusContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.statusIcon {
  .iconWrapper {
    width: 96px;
    height: 96px;
    margin-top: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.statusText {
  .statusTitle {
    margin: 0 0 8px 0;
    color: #00b42a;
    font-weight: 600;
  }

  .statusTitleDeveloping {
    margin: 0 0 8px 0;
    color: #1d2129;
    font-weight: 600;
  }

  .statusTitleEdit {
    margin: 0 0 8px 0;
    color: #ff7d00;
    font-weight: 600;
  }

  .statusDescription {
    color: #86909c;
    font-size: 14px;
    line-height: 1.5;
  }
}

.statusActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;

  .versionInfo {
    .versionLabel {
      color: #86909c;
      font-size: 14px;
    }
  }

  .releaseBtnIcon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
