[submodule "packages/common"]
	path = packages/common
	url = http://git.virtueit.net/szhdz/onebase-fe-common.git
[submodule "apps/admin-console"]
	path = apps/admin-console
	url = http://git.virtueit.net/szhdz/onebase-fe-admin-console.git
[submodule "packages/ui-kit"]
	path = packages/ui-kit
	url = http://git.virtueit.net/szhdz/onebase-fe-ui-kit.git
[submodule "packages/platform-center"]
	path = packages/platform-center
	url = http://git.virtueit.net/szhdz/onebase-fe-platform-center.git
[submodule "apps/app-builder"]
	path = apps/app-builder
	url = http://git.virtueit.net/szhdz/onebase-fe-app-builder.git
