# 通用忽略文件
HELP.md
.DS_Store

# 构建输出目录
build/
dist/
out/
target/

# 依赖目录
node_modules/

# Vite 缓存
.vite/

# VS Code 配置
.vscode/

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量文件
.env
.env.*
!.env.example

# 生产部署相关
deploy/data

# 覆盖常见 IDE 配置
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript 编译输出
*.tsbuildinfo

# 覆盖部分系统文件
Thumbs.db
# End of Selection
.VSCodeCounter

*.local

.npmrc

*.tar

cosco_config/
devops_config/

scripts/encrypt-config.ts