.branchIcon {
  height: 36px !important;
  width: 36px  !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  transform: rotate(-45deg);
  :global(img) {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    vertical-align: bottom;
  }
}
