.confirmInfo {
    .notification {
        background-color: #F7F8FA;
        width: 440px;
        padding: 24px;
        margin: 8px auto;
        text-align: left;

        .title {
            width: 80px;
            display: block;
        }
    }

    .confirmFooter {
        margin-top: 30px;
    }
}
