.businessManagement {
    background-color: #FFFFFF;
    padding:20px;

    .corpLogo {
      width: 72px;
      height:36px;
      text-align: center;
      font-weight: bold;
      line-height: 36px;
      border-radius: 6px;
      border: 1px solid #EAEEEF;
      background-color: #F2F3F5;
    }
}

.deleteModal {
   color: #4E5969;

   .title {
      margin-bottom: 24px;
   }
   .subTitle {
    margin-bottom: 8px;
   }
}  