.forgetPassword {
  font-size: 0.28rem;
  color: #272e3b;
  .content {
    padding: 0.32rem 0.64rem;
    .title {
      font-size: 0.4rem;
      font-weight: 600;
    }
    .forgetPasswordForm {
      // 输入框样式
      :global {
        .arco-form-item {
          border-top: none;

          .arco-form-label-item {
            margin: 0.32rem 0 0.1rem;
          }
          .arco-form-item-control-wrapper .arco-form-item-control {
            padding: 0;
            border-radius: 0.08rem;
            background-color: #f2f3f5;
            .arco-input-wrap {
              box-shadow: none;
              height: 0.96rem;
              .arco-input-prefix {
                padding-right: 0;
                width: 1.12rem;
                box-sizing: border-box;
                .arco-input-label {
                  text-align: center;
                  font-size: 0.48rem;
                }
              }
            }
          }
        }
      }
    }

    .submitBtn {
      margin-top: 0.8rem;
    }
  }
}
