.home {
    .topOut {
      background-color: green;
      height: 3rem;
      padding: 0.4rem 0.4rem 0;
    }
    .grid {
      height: 3rem;
      background-color: #fff;
      border-radius: 6px;
    }
    .label {
      font-size: 0.26rem;
      font-weight: bold;
      color: #000;
      padding-left: 0.48rem;
      margin-top: 2rem;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 0.1rem;
        height: 0.3rem;
        background-color: cyan;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        left: 0.24rem;
        transform: translateY(-50%);
      }
    }
}
.ineedtodo-icon {
  background: url(@/assets/images/task_center/willdo-on.svg) no-repeat center;
  background-size: 100% 100%;
}
.ihavedone-icon {
  background: url(@/assets/images/task_center/idone-on.svg) no-repeat center;
  background-size: 100% 100%;
}