.home {
  padding-bottom: 0.72rem;
    .topOut {
      background: linear-gradient(0deg, #F7F8FA 0.12%, #C3FFFF 74.09%);
      height: 1.72rem;
      padding: 0.8rem 0.12rem 0.12rem;
    }
    .greekString {
      font-size: 0.16rem;
      font-weight: 700;
      color: #00394D;
      padding-left: 0.12rem;
    }
    .ellipse {
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem;
    }
    .curb {
      height: 0.96rem;
      position: absolute;
      top: 0.5rem;
      right: 0.4rem;
    }
    .grid {
      height: 0.92rem;
      background-color: #fff;
      border-radius: 0.06rem;
      margin-top: 0.4rem;
      :global(.arco-grid-rows-item-text) {
        margin-top: 0;
      }
      :global(.arco-grid-rows-item-title) {
        font-size: 0.14rem;
        line-height: 0.2rem;
      }
    }

    .topcatesImg {
      height: 0.4rem;
      width: 0.4rem;
    }
    .topcatesTitle {
      color: #272E3B;
      font-size: 0.14rem;
      text-align: center;
      
    }
  }