.home {
  padding-bottom: 1.44rem;
  .topOut {
    background: linear-gradient(0deg, #f7f8fa 0.12%, #c3ffff 74.09%);
    height: 3.44rem;
    padding: 1.6rem 0.24rem 0.24rem;
  }
  .greekString {
    font-size: 0.32rem;
    font-weight: 700;
    color: #00394d;
    padding-left: 0.24rem;
  }
  .ellipse {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
  }
  .curb {
    height: 1.92rem;
    position: absolute;
    top: 1rem;
    right: 0.8rem;
  }
  .grid {
    height: 1.84rem;
    background-color: #fff;
    border-radius: 0.12rem;
    margin-top: 0.8rem;
    justify-content: center;
    :global(.arco-grid-rows-item-text) {
      margin-top: 0;
    }
    :global(.arco-grid-rows-item-title) {
      font-size: 0.28rem;
      line-height: 0.4rem;
    }
  }

  .topcatesImg {
    height: 0.8rem;
    width: 0.8rem;
  }
  .topcatesTitle {
    color: #272e3b;
    font-size: 0.28rem;
    text-align: center;
  }
}
