.runtimeHome {
    background-color: #F7F8FA;
    min-height: 100dvh;
    .tabBar {
      border-top: 0.5px solid #ccc;
      background-color: #fff;
      @media (min-width: 900px) {
        max-width: 450px;
      }
      :global {
        .arco-tab-bar-item-active {
          color: rgb(var(--primary-6));
        }
        .arco-tab-bar-item .arco-tab-bar-item-icon {
          font-size: 0.48rem;
          margin: 0.16rem 0 0;
        }
        .arco-tab-bar-item-title {
          font-size: 0.2rem;
          line-height: 0.4rem;
        }
        .arco-tab-bar {
          min-height: 0.4rem;
        }
      }
    }
}