.appImportModal {
  width: 700px;
  .stepContent {
    margin-top: 24px;
    .upload {
      .uploadTips {
        font-size: 14px;
        line-height: 22px;
        color: #4e5969;
        padding-left: 10px;
      }
    }
    .repeatWarn {
      align-items: start;
    }

    .tag {
      background-color: #e8fffe;
      margin-right: 8px;
      margin-bottom: 8px;
      :global(.pc-tag-content) {
        color: rgb(var(--primary-6));
      }
    }
    .tips {
      font-size: 14px;
      line-height: 22px;
      color: #4e5969;
    }

    .progressContent{
        margin: 0 auto;
        width: 350px;
    }
    .progressTips{
        margin-top: 16px;
        text-align: center;
    }
  }
}
