.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.24rem;

  &>span {
    color: #272E3B;
    font-weight: 500;
    font-size: 0.36rem;
  }
}

.childNode {
  padding: 0.32rem 0;
  display: flex;
  align-items: center;
}

.deptSearch {
  :global(.arco-input-wrap) {
    height: 1.08rem !important;
    border-top: none !important;
    padding: 0 0.32rem !important;
    box-sizing: border-box;
  }

  :global(.arco-input) {
    line-height: 1.08rem;
    height: 0.8rem;
    padding: 0;
    font-size: 0.32rem;
    border: none;

    &:hover {
      border: none;
      background-color: none !important;
    }
  }

  :global(.arco-input-prefix) {
    line-height: 1.08rem;
    height: 1.08rem;
    padding-right: 0.32rem;
    font-size: 0.32rem;
  }

  :global(.arco-input-container .arco-input-label) {
    min-width: 1.76rem;
  }
}

.deptCell {
  :global(.arco-icon) {
    color: unset !important;
  }

  :global(.arco-radio) {
    display: flex !important;
  }

  .deptCellLeft {
    display: flex;
  }
}