.fileItem{
    display: flex;
    align-items: center;
    line-height: 21px;
    margin-top: 12px;
    background-color: #f7f8fa;
    padding: 4px;
    cursor: pointer;
    &:hover{
        background-color: rgb(var(--primary-1));
    }
    .fileItemName {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 8px;
      box-sizing: border-box;

    }
  }