.config {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0px;
  color: #272e3b;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;

  .dataConfig {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;

    .rowHeader {
      width: 95%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 8px;
      font-weight: 500;
    }

    .colTitle {
      flex: 1;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0.5px solid #e5e6eb;
    }
    .colItem {
      flex: 1;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0.5px solid #e5e6eb;
    }

    .rowTitle {
      width: 100px;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0.5px solid #e5e6eb;
    }

    .row {
      width: 95%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 8px;
    }
  }

  .dataPreview {
  }
}
