.formulaEditor {
  :global(.arco-modal-header) {
    .formulaHeader {
      text-align: left;

      .title {
        font-size: 20px;
        font-weight: bold;
        color: #1d2129;
      }

      .subtitle {
        font-size: 14px;
        color: #86909c;
        margin-left: 16px;
      }

      .closeButton {
        padding: 4px;
        color: #86909c;

        &:hover {
          color: #1d2129;
          background-color: #f2f3f5;
        }
      }
    }
  }
  :global(.arco-modal-content) {
    padding: 0;
    .contentWrapper {
      padding: 20px 24px;
      .arco-row {
        border: 1px solid #e5e6eb;
        border-top: none;
        .arco-input-group{
          border-right: 1px solid #e5e6eb;
          border-bottom: 1px solid #e5e6eb;
          :global(.arco-input-inner-wrapper){
            background-color: #fff;
          }
        }
      }
    }
  }

  :global(.arco-modal-body) {
    padding: 0;
  }
}