.line {
  width: 2px;
  background-color: #00394d;
  height: 18px;
  margin: 0 16px;
}
.tenantName {
  color: #00394d;
  font-size: 18px;
  font-weight: 600;
  margin-left: 4px;
}
.appIcon {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
