.backWrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  .backIconWrapper {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #EAEEEF;
    cursor: pointer;
  }

  .backTitle {
    color: #24515D;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 12px;
  }
}