.sink {
  background-color: #fff;
  height: calc(100% - 200px);
  padding: 16px 32px;
  user-select: none;
  .configTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    .titleTips {
      font-size: 12px;
      color: #86909c;
      margin-left: 8px;
      font-weight: 400;
    }
  }
}
