.tenantPage {
  height: 100%;
  min-height: 500px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  justify-content: center;

  .tenantPageMain {
    width: 100%;
    display: flex;
    flex-direction: column;

    .infoCard {
      margin-bottom: 16px;
      padding: 24px 32px;
      border-radius: 4px;
      background: #FFF;

      &.infoCardPrimary {
        display: flex;
        justify-content: space-between;
        & > .infoCardPrimaryLeft {
          display: flex;
          align-items: center;
          gap: 40px;
        }
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;

      .sectionTitle {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
      }

      .sectionBody {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .descriptionItem {
        display: flex;
        align-items: center;
        .secretText {
          display: 'inline-block';
          color: var(--color-text-1);
        }
        .secretIcon {
          margin-left: 8px;
          cursor: 'pointer';
          color: var(--color-text-1);
        }
        .copyIcon {
          padding-left: 4px;
          color: var(--color-text-2);
          &:hover {
            color: #00b42a;
            // 移入便小手
            cursor: pointer;
          }

        }
      }
    }

    .statsSection {
      min-width: 180px;
      display: flex;
      gap: 20px;
      .statCard {
        background: #f7f8fa;
        border-radius: 8px;
        border: 1px solid #e5e6eb;
        padding: 16px 24px;
        min-width: 120px;
        text-align: center;

        .statLabel {
          color: #86909c;
          font-size: 14px;
          margin-bottom: 4px;
        }

        .statValue {
          color: #1d2129;
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
}
