.workbenchConfigs {
  width: 310px;
  max-height: calc(100vh - 40px - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  .componentName {
    display: flex;
    align-items: center;
    padding: 9px 12px;
    color: #272e3b;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #f2f3f5;
    background-color: #fff;

    .icon {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      overflow: hidden;
    }
  }

  .componentInfo {
    width: 100%;
    // padding-left: 16px;
    // padding-right: 8px;
    box-sizing: border-box;
  }

  .collapseConfigs :global(.pc-collapse-item-header) {
    // border: 1px solid #E5E6EB;
    background-color: #f7f8fa;
  }

  /* 自定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
