.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .createBusiness {
        display: flex;
        align-items: center;
        .linkContent {
            margin-left: 16px;
            color: #6B7785;
            display: flex;
            align-items: center;
            .link {
                margin-left: 8px;
                color: #009E9E;
                margin-bottom: 0;
            }
        }
        
        .copyIcon {
            cursor: pointer;
        }
    }
    .searchContent {
        display: flex;
        align-items: center;

        .searchInput {
            margin-left: 8px;
            min-width: 218px;
            :global(.arco-input-group > :last-child) {
                border-radius: 24px;
            }
        }
    }
}