.dataPermissionModal {
  width: 750px;
  .dataPermissionModalTitle {
    text-align: left;
  }
  .dataPermissionForm { 
    box-sizing: border-box;
    padding: 0 65px;
    .dataPermissionScope {
      .scopeRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .scopeRoles {
        width: 150px;
        margin-bottom: 0;
      }
      .scopePerson {
        width: 360px;
        margin-bottom: 0;
      }
      .scopeAssign {
        margin-top: 16px;
        width: 100%;
        margin-bottom: 0;
        border-radius: 4px;
      }
    }
    .dataPermissionFilters {
      box-sizing: border-box;
      border: 1px solid #E5E6EB;
      border-radius: 4px;
      padding: 18px;
      overflow: auto;
      max-height: 300px;
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      .dataFilter {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 9px 18px 9px 9px;
        border-radius: 4px;
        background: rgb(225, 227, 231);
        margin-bottom: 15px;
        .dataFilterItem {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          .dataFilterItemFieldBox {
            margin-bottom: 0;
            width: 132px;
            .dataFilterItemField {
              width: 120px;
              margin-right: 12px;
              margin-bottom: 8px;
            }
          }
          .dataFilterItemBox {
            margin-bottom: 0;
            width: 112px;
            .dataFilterItem {
              width: 100px;
              margin-right: 12px;
              margin-bottom: 8px;
            }
          }
          .dataFilterItemValueBox {
            width: 152px;
            margin-bottom: 0;
            .dataFilterItemValue {
              width: 140px;
              margin-right: 12px;
              margin-bottom: 8px;
            }
          }
          .dataFilterItemIcon {
            font-size: 16px;
            padding-bottom: 8px;
            cursor: pointer;
          }
        }
        .dataFilterAndBtn {
          margin-top: 5px;
        }
      }
    }
    .dataPermissionOperableBox {
      margin-bottom: 20px;
    }
    .dataPermissionOperable {
      display: flex;
      align-items: center;
      gap: 36px;
    }
  }
}