.branchIcon {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  :global(img) {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    vertical-align: bottom;
  }
}
