.titleConfig {
  padding: 12px 0;
}

.formItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;

  label {
    flex: 0 0 80px;
    margin-right: 12px;
    text-align: left;
    font-size: 14px;
  }

  .arco-input,
  .arco-switch {
    flex: 1;
  }
}

