@import '@/pages/variables.less'; 

.fieldWrapper {
  width: 100%;
  max-height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;

  overflow-x: hidden;
  overflow-y: auto;
}

.formaluShowBtn {
  .formula-show-btn();
}
