:root {
  width: 100vw;
  height: 100vh;
}

.react-grid-item.react-grid-placeholder {
  background: lightblue !important;
}

/* tab下划线隐藏 */
.createAppTabs {
  .arco-tabs-header {
    .arco-tabs-header-ink {
      display: none;
    }
  }
}
