.fieldModal {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .fieldModalTitle {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

  .fieldModalContent {
    width: 100%;
    height: 100%;
  }
}
