@import '../../components/variables.less';

@sider-width: 200px;
@content-header-height: 48px;

.pageManagerPage {
  width: 100vw;
  height: calc(100vh - @header-height);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .guide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 1200px;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    .guideImg {
      width: 1200px;
      height: 700px;
      position: relative;
    }

    .guideButton {
      width: 126px;
      height: 48px;
      position: absolute;
      top: 481px;
      left: 362px;
      cursor: pointer;
    }
  }

  .sider {
    width: @sider-width;
    height: 100%;
    box-sizing: border-box;

    .siderHeader {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .content {
    background-color: transparent;
    width: calc(100vw - @sider-width);
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    .contentHeader {
      width: 100%;
      height: @content-header-height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      box-sizing: border-box;
      background-color: #fff;
      border-bottom: 0.5px solid #e5e5e5;

      .contentTitle {
        font-size: 18px;
      }
    }

    .contentBody {
      width: 100%;
      height: calc(100vh - @header-height - @content-header-height);
    }
  }
}
