@editor-config-width: 310px;

.wbEditorPage {
  /* 编辑器内容区域样式 */
  width: calc(100vw - @editor-config-width);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
