.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 22px;
  padding-right: 8px;
  border-bottom: 1px solid #e5e6eb;
  margin: 0 10px;
  .leftTitle {
    display: flex;
    align-items: center;
    .icon {
      height: 28px;
      width: 28px;
      flex-shrink: 0;
    }
    .title {
      color: #1d2129;
      font-family: 'PingFang SC';
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      margin: 0 8px;
    }
    .edit {
      cursor: pointer;
      height: 20px;
      width: 20px;
    }
  }
  .close {
    cursor: pointer;
  }
}
