.arco-form-item.arco-form-item-vertical .arco-form-label-item {
  margin-top: 1.6rem;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 1.6rem;
}
.arco-form-item-control {
  min-height: 3.2rem;
  padding: 1.6rem 0;
}
.arco-form-item-control-wrapper .arco-input-wrap.single-line {
  height: 4.8rem;
}
.arco-form-item-message {
  font-size: 1.2rem;
  margin-top: -1rem;
}
.arco-checkbox .checkbox-icon + .checkbox-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: inline-block;
}
.arco-checkbox {
  padding-left: 0;
  .checkbox-icon {
    font-size: 2.4rem;
    vertical-align: bottom;
  }
}
.arco-checkbox .checkbox-icon.checked {
  color: @primary-color;
}
.arco-button.arco-button-size-large .arco-button-icon, .arco-button.arco-button-size-large i, .arco-button.arco-button-size-large .arco-button-text, .arco-button.arco-button-size-large svg {
  font-size: 1.5rem;
}
