.arco-popup-content.bottom {
  &.bottom, &.top, &.center, &.left, &.right {
    @media (min-width: 900px) {
      max-width: 750px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
}
.arco-form-item.arco-form-item-vertical .arco-form-label-item {
  margin-top: 0.16rem;
  height: 0.22rem;
  line-height: 0.22rem;
  font-size: 0.16rem;
}
.arco-form-item-control {
  min-height: 0.32rem;
  padding: 0 0 0.16rem 0;
}
.arco-form-item-control-wrapper .arco-input-wrap.single-line {
  height: 0.48rem;
}
.arco-form-item-message {
  font-size: 0.12rem;
  margin-top: -0.1rem;
}
.arco-checkbox .checkbox-icon + .checkbox-text {
  font-size: 0.16rem;
  line-height: 0.16rem;
  display: inline-block;
  margin-left: 0.06rem;
}
.arco-checkbox {
  padding-left: 0;
  .checkbox-icon {
    font-size: 0.24rem;
    vertical-align: bottom;
  }
}
.arco-checkbox .checkbox-icon.checked {
  color: @primary-color;
}
.arco-button.arco-button-size-large .arco-button-icon, .arco-button.arco-button-size-large i, .arco-button.arco-button-size-large .arco-button-text, .arco-button.arco-button-size-large svg {
  font-size: 0.15rem;
}
.arco-form-item {
  margin-bottom: 0.1rem;
}

.arco-cell {
  font-size: 0.16rem;
  .cell-arrow-icon .arrow-icon-svg {
    width: 0.08rem;
  }
  .cell-label-icon {
    margin-right: 0.12rem;
  }
}
.arco-cell-inner {
  height: 0.54rem;
}
.arco-tab-bar-item-active {
  color: @primary-color;
}
.arco-tab-bar-item .arco-tab-bar-item-icon {
  font-size: 0.24rem;
  margin: 0.08rem 0 0;
}
.arco-tab-bar-item-title {
  font-size: 0.1rem;
  line-height: 0.2rem;
}
.arco-tab-bar {
  min-height: 0.2rem;
}