:root {
  width: 100vw;
  height: 100dvh;
  .arco-popup-content.bottom {
    @media screen and (min-width: 900px) {
      max-width: 450px;
      left: calc(50vw - 225px);
    }
  }
}

.arco-message-wrapper {
  display: none;
}

/* .react-grid-item.react-grid-placeholder {
  background: lightblue !important;
} */

/* 菜单隐藏样式 */
/* .menuTree {
  .arco-tree-node-switcher {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 12px;

    .arco-tree-node-icon-hover:hover::before {
      background-color: transparent;
    }
  }
  .arco-tree-node-title {
    padding: 0;
    margin: 0;
  }
  .arco-tree-node {
    padding: 0;
  }
} */