.configAdvanced {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rowNavModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rowNavBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .rowNavBtnText {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.operationModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.buttonShowRule {
  height: 48px;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;

  .buttonInput {
    width: 50px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.buttonItem {
  width: 100%;
  padding: 12px 4px;
  box-sizing: border-box;
}

.iconInput {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #f2f3f5;
  cursor: pointer;
}

.avatarWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 12px;

  .avatar {
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 4px;
    background-color: #f2f3f5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
  }
}

.avatarColor {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
