.appCard {
  width: 100%;
  border-radius: 16px;
  padding: 10px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e5e6eb;
  background-color: #fff;
  transition: all 0.1s linear;

  &:hover {
    box-sizing: border-box;
    border-color: transparent;
    outline: 2px solid rgb(var(--primary-6));
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, rgba(232, 255, 254, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%), #fff;
  }

  .appCardImg {
    flex: 1;
    height: 168px;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .appCardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cardName {
    font-size: 16px;
    margin-top: 10px;
    color: #4e5969;
    .cardState {
      font-size: 12px;
    }
  }
  .cardRemark {
    font-size: 14px;
    margin-top: 10px;
  }
}

/* hover */
// .appCard:hover .footerRight {
//   opacity: 1;
//   visibility: visible;
//   transform: translateY(0);
//   pointer-events: auto;
//   transition: opacity 0.2s ease;
// }

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
