.appSettingPage {
    width: 100%;
    height: 100%;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;

        .menu {
            padding: 10px;
        }
    }

    .content {
        padding: 26px;
        box-sizing: border-box;
        background-color: #f1f2f3;


        .contentHeader {
            width: 100%;
            height: 100px;
            border-top: 3px solid #f1f2f3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            box-sizing: border-box;
            background-color: #fff;
            margin-left: 1px;
    
            .contentTitle {
                font-size: 18px;
    
            }
    
        }

    }

    .footer {
        width: 100%;
        height: 85px;
        border-top: 1px solid #C9CDD4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
