.styleLibrary {
  padding: 12px 0;

  .styleOptions {
    margin-bottom: 12px;

    .styleOption {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      .styleIcon {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        border-radius: 4px;
        margin-bottom: 4px;

      }

      .styleLabel {
        font-size: 12px;
        color: #272e3b;
        text-align: center;
      }
    }
  }

  .changeStyleBtn {
    width: 100%;
  }
}

// 抽屉内容
.drawerContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}

.previewCardFirst,
.previewCardSecond,
.previewCardThird {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background: #f4f4f6;
  border: 1px solid transparent;
}

.previewCardSecond,
.previewCardThird {
  gap: 12px;
}

.previewCardInner {
  display: grid;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
}

.previewCardFirst .previewCardInner {
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}

.previewCardSecond .previewCardInner, .previewCardThird .previewCardInner {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.previewCardActive {
  border: 1px solid rgba(var(--primary-6));
}

.previewCardClick {
  cursor: pointer;
  &:hover {
    border: 1px solid rgba(var(--primary-6));
  }
}

.previewItemFirst {
  display: flex;
  align-items: center;
  gap: 4px;
}

.previewIcon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.previewIconLabel {
  font-size: 12px;
  color: #272e3b;
}

.previewItemSecond, .previewItemThird {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
}

.previewItemSecond {
  background: #F7F8FA;
}

.previewMeta {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.previewTitle {
  font-size: 14px;
  font-weight: 600;
  color: #1c1f28;
}

.previewDesc {
  font-size: 10px;
  color: #8a8f9c;
}