@import '../../styles/variables.less';

/* 实体页面样式 */
.entity-page {
  &-content {
    height: calc(100% - @headerHeight);
    width: 100%;
    position: absolute;
  }

  &-header {
    .flex-between();
    padding: @spacingSm @spacingMd;
    height: @headerHeight;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #e5e6eb;

    &-left {
      .flex-center();

      &-name,
      &-tag {
        margin-right: @spacingSm;
      }

      .copy-icon {
        cursor: pointer;
        color: #4E5969;
      }
    }
  }

  &-create-button {
    position: absolute;
    left: @spacingMd;
    top: 16px;
    z-index: 10;
  }
}

/* 空实体页面样式 */
.empty-entity-page {
  text-align: center;
  margin-top: 10%;
}
