.runtimeMenuItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 12px;

  .menuName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
  .menuIcon {
    display: flex;
    align-items: center;
    margin-right: 16px;
    & > div {
      display: flex;
      align-items: center;
    }
  }
}
