.navWrapper {
  width: 100%;
  margin: 0 auto;
  background-color: red;
  @media screen and (min-width: 900px) {
    width: 450px;
    :global(.arco-nav-bar-wrapper.arco-nav-bar-wrapper-fixed) {
        width: 450px;
        left: calc(50% - 225px);
      }
  }

  :global(.arco-nav-bar) {
    background-color: transparent;
  }

  :global(.arco-nav-bar.arco-nav-bar-fixed) {
    height: 0.88rem;
  }

  .nav {
    height: 0.88rem;

    :global(.arco-nav-bar-left) {
      padding: 0 0.3rem;
      font-size: 0.36rem;

      & > div {
        width: 0.32rem;
        height: 0.32rem;
      }
    }

    :global(.arco-nav-bar-title) {
      & > div {
        font-size: 0.36rem;
      }
    }
  }
}
