@import '../../styles/variables.less';

.dictPage {
  width: 100%;
  height: calc(100vh - 64px);
  padding: 16px;
  box-sizing: border-box;
  background-color: #F7F8FA;
  
  .dictList {
    height: calc(100vh - 252px);
  }
}


