.baseNodeStyle {
  border-radius: 8px;
  box-shadow:
    0 2px 4px 0 #00000014,
    0 -2px 4px 0 #0000000f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 148px;
  height: 40px;
  background-color: #fff;
  border: 2px solid white;
  box-sizing: border-box;
}

.activated {
  border: 2px solid rgb(var(--primary-6));
  border-radius: 8px;
}

.noShadow {
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 8px;
}
