.me {
  .meTitle {
    display: flex;
    height: 2.2rem;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(0deg, #F7F8FA 0.12%, #C3FFFF 74.09%);
    padding-left: 0.28rem;
    img {
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      margin-right: 0.16rem;
    }
  }
  .meInfo {
    flex: 1;
  }
  .meNickname {
    color: #272E3B;
    font-size: 0.2rem;
    font-weight: bold;
    line-height: 0.24rem;
  }
  .meUsername {
    color: #86909C;
    font-size: 0.14rem;
    line-height: 0.24rem;
  }
}
.meCellIcon {
  height: 0.24rem;
  width: 0.24rem;
}
.meCellGroup {
  margin-top: -0.2rem;
  margin: -0.2rem 0.12rem 0;
}
.popupContainer {
  // height: 1.71rem;
  width: 100%;
  background-color: #F2F3F5;
  border-radius: 10px 10px 0 0;
}
.popupTitle {
  color: #86909C;
  text-align: center;
  font-size: 0.14rem;
  line-height: 0.54rem;
  height: 0.54rem;
  margin-bottom: 1px;
  background-color: #fff;
}
.popupLogout, .popupCancel{
  color: #1D2129;
  text-align: center;
  font-size: 0.16rem;
  line-height: 0.54rem;
  height: 0.54rem;
  background-color: #fff;
}
.popupLogout {
  color: #F53F3F;
  margin-bottom: 0.08rem;
}
