.me {
  .meTitle {
    display: flex;
    height: 4.4rem;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(0deg, #f7f8fa 0.12%, #c3ffff 74.09%);
    padding-left: 0.56rem;
    img {
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 50%;
      margin-right: 0.32rem;
    }
  }
  .meInfo {
    flex: 1;
  }
  .meNickname {
    color: #272e3b;
    font-size: 0.4rem;
    font-weight: bold;
    line-height: 0.48rem;
  }
  .meUsername {
    color: #86909c;
    font-size: 0.28rem;
    line-height: 0.48rem;
  }
}
.meCellIcon {
  height: 0.48rem;
  width: 0.48rem;
}
.meCellGroup {
  margin-top: -0.4rem;
  margin: -0.4rem 0.24rem 0;
}
.popupContainer {
  // height: 1.71rem;
  width: 100%;
  background-color: #f2f3f5;
  border-radius: 0.2rem 0.2rem 0 0;
}
.popupTitle {
  color: #86909c;
  text-align: center;
  font-size: 0.28rem;
  line-height: 1.08rem;
  height: 1.08rem;
  margin-bottom: 1px;
  background-color: #fff;
}
.popupLogout,
.popupCancel {
  color: #1d2129;
  text-align: center;
  font-size: 0.32rem;
  line-height: 1.08rem;
  height: 1.08rem;
  background-color: #fff;
}
.popupLogout {
  color: #f53f3f;
  margin-bottom: 0.16rem;
}
