.themeCard {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 16px;
    height: 16px;
  }
}
