.editorConfig {
  /* 右侧：选项配置区样式 */
  position: relative;
  width: 310px;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-left: 1px solid #e8e8e8;

  z-index: 1;
  border-left-width: 0;
}
