.predictTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 20px;
}

// .predictContent {
//     // padding: 20px 0 0 50px;

//     :global {
//         .predictStepSuccess {
//             .arco-steps-item-content {
//                 transform: translateY(-10px)
//             }
//         }

//         .predictStepGray {
//             .arco-steps-item-content {
//                 transform: translateY(-10px)
//             }

//         }
//     }
// }
.predictBox {
    // position: relative;
    display: flex;
    align-items: center;
    .pc-avatar-image {
        background: rgb(var(--primary-5)); border: 1px solid rgb(var(--primary-5)); 
    }
}

.predictImg {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background: #86909c; 
    border-radius: 100%; 
    overflow: hidden;
}

.predictText {
    display: flex;
    flex-direction: column;
    padding-left: 3px;
}

.predictName {
    font-size: 14px;
    line-height: 22px;
}

.predictDesc {
    font-size: 12px;
    color: #86909C;
    line-height: 22px;
}