.previewPage {
  width: 100%;
  height: 100%;
  background-color: #fff;

  //   display: block;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  overflow-y: auto;

  /* 自定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.content {
  background-color: #fff;

  min-width: 348px;
  min-height: calc(100vh - 48px - 48px);
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

// 组件样式
.componentItem {
  // padding: 6px;
  box-sizing: border-box;
  // border: 1px dashed transparent;
  border-radius: 8px;
  transition: border-color 0.2s ease;
  position: relative;
}

.footer {
  //   height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 14px;
  box-sizing: border-box;
  gap: 16px;
}

:global {
  .runtime-preview-formpage {
    .pc-table-th-item {
      padding: 8px 12px;
    }

    .pc-table-td {
      .formWrapper {
        padding: 4px 0;
      }
    }

    .edit-modal {
      z-index: 1001;
      transition:
        width 0.15s ease-in-out,
        height 0.15s ease-in-out;

      .pc-table-td {
        .formWrapper {
          padding: 0 4px;
        }
      }

      .pc-modal-content {
        background: transparent;
        padding: 12px 20px;
        height: calc(86vh - 156px);
        overflow: auto;
        transition: height 0.2s ease;
      }
    }

    .edit-modal.edit-modal-fullscreen .pc-modal-content {
      height: calc(96vh - 136px);
    }
  }

  .pc-drawer-mask:has(+ .detail-drawer) {
    z-index: 101;
  }

  .detail-drawer {
    transition: width 0.15s ease-in-out;
    z-index: 102;

    .pc-drawer-header {
      .pc-drawer-header-title {
        flex: 1;
      }
    }
  }
}

.titleEditIconArea {
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleDetailIconArea {
  margin-right: 28px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.noData {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editRuntimeContent {
  /* 自定义滚动条样式，适配主要浏览器 */
  overflow: auto;

  /* 自定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
