.previewPage {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: block;
  box-sizing: border-box;
  position: relative;

  overflow-y: auto;

  /* 自定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.content {
  background-color: #fff;

  min-width: 348px;
  min-height: calc(100vh - 48px - 32px);
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

// 组件样式
.componentItem {
  // padding: 6px;
  box-sizing: border-box;
  // border: 1px dashed transparent;
  border-radius: 8px;
  transition: border-color 0.2s ease;
  position: relative;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 14px;
  box-sizing: border-box;
  gap: 16px;
}

:global {
  .runtime-preview-formpage {
    .arco-table-th-item {
      padding: 8px 12px;
    }

    .arco-table-td {
      .formWrapper {
        padding: 4px 0;
      }
    }

    .edit-modal {
      z-index: 1001;

      .arco-table-td {
        .formWrapper {
          padding: 0 4px;
        }
      }

      .arco-modal-content {
        background: transparent;
        padding: 12px 20px;
        height: calc(86vh - 156px);
        overflow: auto;
      }
    }

    .edit-modal.edit-modal-fullscreen .arco-modal-content {
      height: calc(96vh - 156px);
    }

  }
}

.drawerTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.predictTitle {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 20px;
}

.predictContent {
    padding: 20px 0 0 50px;

    :global {
        .predictStepSuccess {
            .arco-steps-item-content {
                transform: translateY(-10px)
            }
        }

        .predictStepGray {
            .arco-steps-item-content {
                transform: translateY(-10px)
            }

        }
    }
}

.predictBox {
    // position: relative;
    display: flex;
    align-items: center;
}

.predictImg {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background: #86909c; 
    border-radius: 100%; 
    overflow: hidden;
}

.predictText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.predictName {
    font-size: 12px;
    line-height: 22px;
}

.predictDesc {
    font-size: 12px;
    color: #86909C;
    line-height: 22px;


}

