.formWrapper {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;

  .arco-form-label-item {
    label {
      display: flex;
      align-items: center;
      width: 100%;

      .labelText {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .tooltipLabelText {
        display: inline-block;
        max-width: calc(100% - 18px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

