.fileUploadWrapperOBMobile {
  padding-bottom: 0.24rem;
  .arco-form-label-item {
    margin: 0.24rem 0;
  }
  .arco-image-picker-error {
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #ff4d4f;
  }
  .arco-uploader-container {
    display: block;
  }
  .arco-uploader-add {
    width: 1.6rem;
  }
  .uplaodList-text-item {
    display: flex;
    justify-content: space-between;
    min-height: 0.5rem;
    margin-top: 0.2rem;
    padding: 0 0.12rem;
    border-radius: 4px;
    .arco-icon {
      font-size: 0.32rem !important;
    }
     /* .arco-icon-file {
       width: 0.8rem;
     } */
    .uplaodList-text-item-name {
      margin: 0 0.12rem;
      font-size: 0.26rem;
      flex: 1 1 auto;
      width: 0;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .uplaodList-text-item-opera, .uplaodList-text-item-process {
      margin-left: 0;
      height: 0.5rem;
      display: flex;
      align-items: center;
      flex: unset;
    }
  }
}