.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.icon {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

.description {
  margin-top: 16px;
  font-size: 14px;
  color: #86909c;
}