body {
  @primary-1: #e8f6ff;
  @primary-2: #b8e1fd;
  @primary-3: #89c8fc;
  @primary-4: #5badfa;
  @primary-5: #2d90f9;
  @primary-6: #006ff7;
  @primary-7: #0055cc;
  @primary-8: #003ea2;
  @primary-9: #002a77;
  @primary-10: #00184d;
  --primary-1: 232, 246, 255;
  --primary-2: 184, 225, 253;
  --primary-3: 137, 200, 252;
  --primary-4: 91, 173, 250;
  --primary-5: 45, 144, 249;
  --primary-6: 0, 111, 247;
  --primary-7: 0, 85, 204;
  --primary-8: 0, 62, 162;
  --primary-9: 0, 42, 119;
  --primary-10: 0, 24, 77;
}
