@import '../common.module.less';

.settingPageContent {
  padding: 8px;
  padding-right: 12px;
  box-sizing: border-box;
  background-image: url('../../../../../assets/images/application_setting.svg');
  background-repeat: no-repeat;
  background-color: transparent;
}
.settingPageContentMain {
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
}
