.inputTextWrapper {
  .arco-input-wrap {
    height: auto;
    border-top: none !important;
    padding: 0;
  }

  .arco-input {
    line-height: 0.54rem;
    height: 0.54rem;
    padding: 0;
    font-size: 0.16rem;
  }

  .arco-input-prefix {
    line-height: 0.54rem;
    height: 0.54rem;
    padding-right: 0.16rem;
    font-size: 0.16rem;
  }

  .arco-input-container .arco-input-label {
    min-width: 0.88rem;
  }
}