.editVersionModal {
  .arco-modal-header {
    border-bottom: 1px solid #e5e6eb;
    padding: 16px 24px;
  }
  
  .arco-modal-body {
    padding: 24px;
  }
  
  .arco-modal-footer {
    border-top: 1px solid #e5e6eb;
    padding: 16px 24px;
  }
} 