.administrator {
  .container {
    width: 100%;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .arco-table-header th {
    background-color: #f5f5f5;
    text-align: center;
  }

  .arco-table-body td {
    text-align: center;
  }

  .arco-modal-content {
    .arco-input-wrapper {
      margin-bottom: 15px;
    }
  }
}
.tooltipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .tooltipText {
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
  }
  .tooltipButton {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}

.tableBtn {
  // 文字不换行
  white-space: nowrap;
  margin-right: 10px;
  color: rgb(var(--primary-6));
  cursor: pointer;
}
