:root {
  width: 100vw;
  height: 100dvh;
  .arco-popup-content.bottom {
    @media screen and (min-width: 900px) {
      max-width: 450px;
      left: calc(50vw - 225px);
    }
  }
  .arco-ellipsis-native.ellipsis {
    word-break: break-all;
  }
}

.arco-message-wrapper {
  display: none;
}
