.dividerStyle {
  :global(.pc-select-view) {
    min-height: auto; // 不用默认的 32px
    height: auto !important;
    line-height: 0 !important;
    padding: 8px !important;

    :global(.pc-select-view-selector) {
      background-color: white;
      border-radius: 4px 0 0 4px;
    }
  }

  :global(.pc-select-view-value) > div:first-child > div:first-child {
    border: none;
    padding: 4px 10px;
  }

  :global(.pc-select-view-value) > div:first-child {
    margin: 4px 0 0;
  }

  :global(.pc-select-option-hover) {
    background-color: transparent;
  }

  :global(.pc-select-suffix) {
    background-color: white;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
    padding-right: 10px;
  }
}
.dropdownWrapper {
  max-height: 260px;
  margin: 6px 0;

  .previewWrapper {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #e5e6eb;
    align-content: center;
  }

  .title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 3px;
    font-weight: 600;
  }

  .desc {
    font-size: 12px;
    line-height: 20px;
    margin-top: 3px;
  }

  /* 下方装饰条：根据截图画 8 种不同效果 */
  .decor-style1 {
    display: none;
  }

  .decor-style2 {
    border-top: 1px dashed;
  }

  .decor-style3 {
    border-top: 1px solid;
  }

  .decor-style4 {
    border-top: 2px solid;
  }

  .decor-style5 {
    display: none;
  }

  .decor-title-style5 {
    border-left: 4px solid #e5e6eb;
    padding-left: 4px;
    line-height: 14px;
    margin: 4px 0;
    font-weight: 600;
  }

  .decor-style6 {
    border-top: 1px solid #e5e6eb;
  }

  .decor-title-style6 {
    border-bottom: 2px solid #e5e6eb;
    width: 60px;
    line-height: 22px;
    margin-bottom: 2px;
    font-weight: 600;
  }

  /* 字段标题容器 */
  .decor-title-style7 {
    height: 22px;
    border-bottom: 2px solid;
    display: flex;
    gap: 2px;

    /* 标题标签 */
    .label {
      padding: 0 24px 0 8px;
      line-height: 24px;
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
      font-weight: 600;
    }

    .decorator1 {
      height: 24px;
      width: 24px;
      clip-path: polygon(0% 0%, 40% 0%, 100% 75%, 60% 75%);
      position: relative;
      left: -12px;
    }

    .decorator2 {
      height: 24px;
      width: 24px;
      clip-path: polygon(0% 0%, 40% 0%, 100% 75%, 60% 75%);
      position: relative;
      left: -22px;
      opacity: 0.6;
    }

    .decorator3 {
      height: 24px;
      width: 24px;
      clip-path: polygon(0% 0%, 40% 0%, 100% 75%, 60% 75%);
      position: relative;
      left: -32px;
      opacity: 0.3;
    }
  }

  .decor-style8 {
    height: 24px;
    border-radius: 12px 0 0 0;
    display: flex;

    .decor-title-style8 {
      border-radius: 12px 0 12px 0;
      line-height: 24px;
      padding: 0px 10px;
      font-weight: 600;
    }
  }

  .decor-style9 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    padding: 0 24px;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;

    .tabActive {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 22px;
      font-weight: 600;
      height: 24px;
      padding: 0 16px;
      margin-top: -5px;
      box-sizing: border-box;
      border-radius: 0 0 18px 18px;
      clip-path: polygon(
        0% 0%,
        100% 0%,

        100% 0%,
        93% 67%,
        90% 85%,
        88% 92%,
        84% 100%,

        16% 100%,
        12% 92%,
        10% 85%,
        6% 60%,
        0% 0%
      );
    }
  }

  /* 左右撑开的留白，不做剪裁 */
  .decor-style9::before {
    content: '';
    height: 4px;
    background-color: var(--before-bg);
    width: 6px;
    border-radius: 4px 0 0 0;
    position: relative;
    top: -12px;
    right: -2px;
  }

  .decor-style9::after {
    content: '';
    height: 4px;
    background-color: var(--after-bg);
    width: 6px;
    border-radius: 0 4px 0 0;
    position: relative;
    top: -12px;
    left: -2px;
  }

  .decor-style10 {
    display: flex;
    align-items: center;
    justify-content: center;

    .center {
      padding: 0 30px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      clip-path: polygon(10% 0%, 90% 0%, 98% 52%, 90% 100%, 10% 100%, 2% 52%);
    }

    /* 左侧箭头组 */
    .leftArrows,
    .rightArrows {
      position: relative;
      height: 24px;
    }

    /* ---------------- 左侧箭头 ---------------- */

    .leftArrows span {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .leftArrow1,
    .leftArrow2 {
      width: 30px;
      clip-path: polygon(100% 0%, 70% 0%, 40% 50%, 70% 100%, 100% 100%, 70% 50%);
    }
    .leftArrow1 {
      right: -3px;
    }

    .leftArrow2 {
      right: 12px;
    }

    /* ---------------- 右侧箭头 ---------------- */

    .rightArrows span {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    /* 右侧的箭头，形状反过来 */
    .rightArrow1,
    .rightArrow2 {
      width: 30px;
      clip-path: polygon(0% 0%, 30% 0%, 62% 50%, 30% 100%, 0% 100%, 32% 50%);
    }

    .rightArrow1 {
      left: -3px;
    }

    .rightArrow2 {
      left: 12px;
    }
  }
}

.dividerColorPicker {
  width: 100%;
  padding: 2px 10px;
  border-radius: 0px;

  :global(.pc-color-picker-preview) {
    width: 18px;
    height: 18px;
    border-radius: 4px;
  }
}
