.sortable-line {
    width: 184px;
    .task-sortable-menu {
        flex: 1;
        display: flex; justify-content: space-between;
        height: 40px;
        padding-left: 2px;
        &:hover {
            background-color: rgba(244, 244, 244, 1);
            border-radius: var(--border-radius-small);
        }
        .left-part, .right-part {
            display: flex; align-items: center;
        }
        .left-part {
            max-width: 115px; 
        }
        .right-part {
            margin-right: 8px;
        }
    }
    .sort-menu-img {
        width: 16px; margin-right: 10px;
    }
}
.task-center-box {
    width: 200px; 
    overflow: hidden; 
    box-sizing: border-box; 
    padding: 0px 8px;
    .move-box-ul, .move-box-ul > li {
        list-style: none; margin: 0; padding: 0;
    }
}

.page-content-rgt {
    padding: 16px;
    .table-title-box {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.title-rgt-tb-search {
    display: flex;
    align-items: center;
    & > p {
        display: flex; 
        align-items: center;
        margin-left: 16px;
        cursor: pointer;
        & > img {
            margin-right: 6px;
        }
    }
    
}
.item-no-check > .svg, .item-actived > .svg {
    color: green; margin-left: 6px;
}
.item-no-check > .svg {
    opacity: 0;
}
.item-actived > .svg {
    opacity: 1;
}
.tb-filter-box {
    width: 720px;
    .filter-footer {
        display: flex; padding: 16px; border-top: 1px solid var(--color-neutral-3);
    }
    .clear-filter-btn {
        color: #333;
        display: flex;
        align-items: center;
        margin-left: 12px;
    }
    .filter-line {
        display: flex; align-items: center; 
        & + .filter-line {
            margin-top: 16px;
        }
    }
    .arco-select.mid-select {
        .arco-select-view {
            background-color: #fff !important;
        }
    }
    .end-select {
        .arco-select-view {
            background-color: #fff !important;
            border: 1px solid var(--color-neutral-3);
        }
    }
    .fisrt-input-tag {
        border: 1px solid var(--color-neutral-3);
        border-radius: var(--border-radius-small);
        .arco-input-tag-addbefore {
            border: none; padding-right: 0;
        }
    }
}