.AppPermission {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  padding: 22px 22px 16px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;

  .left {
    width: 164px;
    padding-right: 21px;
    border-right: 1px solid #e5e6eb;

    .menu {
      .user {
        margin-bottom: 12px;
        padding-bottom: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e6eb;
      }

      .userIcon .deleteIcon {
        font-size: 16px;
        margin-right: 4px;
      }

      .deleteIcon {
        opacity: 0;
      }

      .menuItem {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          .deleteIcon {
            font-size: 16px;
            margin-right: 4px;
            opacity: 1;
          }
        }
      }

      .custom {
        display: flex;
        align-items: center;
      }

      label {
        color: #86909c;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        display: block;
        margin-bottom: 7px;
      }

      .add {
        font-weight: 500;
        color: rgb(var(--primary-6));
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .right {
    flex: 1;
    margin-left: 21px;
  }
}
