.AppPermission {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 22px 22px 16px;
  box-sizing: border-box;
  background-color: #fff;

  display: flex;

  .left {
    width: 164px;
    padding-right: 21px;
    border-right: 1px solid #e5e6eb;

    .menu {
      .user {
        margin-bottom: 12px;
        padding-bottom: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e6eb;
      }

      label {
        color: #86909c;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        display: block;
        margin-bottom: 7px;
      }

      .add {
        font-weight: 500;
        color: rgb(var(--primary-6));
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .right {
    flex: 1;
    margin-left: 21px;
  }

  .admin {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      .headerTitle {
        color: #1d2129;
        font-weight: 16px;
        font-weight: 500;
      }
    }
  }
}
