.statusTag {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
}

.enable {
  background-color: rgb(var(--success-6));
}

.disable {
  background-color: rgb(var(--danger-6));
}

.expired {
  background-color: #a9aeb8;
}
