body {
  @primary-1: #e8fffb;
  @primary-2: #acece3;
  @primary-3: #76d8ce;
  @primary-4: #48c5bc;
  @primary-5: #20b1ad;
  @primary-6: #009e9e;
  @primary-7: #00858a;
  @primary-8: #006d75;
  @primary-9: #005761;
  @primary-10: #00424d;
  --primary-1: 232, 255, 251;
  --primary-2: 172, 236, 227;
  --primary-3: 118, 216, 206;
  --primary-4: 72, 197, 188;
  --primary-5: 32, 177, 173;
  --primary-6: 0, 158, 158;
  --primary-7: 0, 133, 138;
  --primary-8: 0, 109, 117;
  --primary-9: 0, 87, 97;
  --primary-10: 0, 66, 77;
}
