@font-face {
  font-family: "iconfont"; /* Project id 4996200 */
  src: url('iconfont.woff2?t=1757407412954') format('woff2'),
       url('iconfont.woff?t=1757407412954') format('woff'),
       url('iconfont.ttf?t=1757407412954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yemian:before {
  content: "\e615";
}

.icon-xiongmao_panda:before {
  content: "\e673";
}

.icon-yasuo_compression:before {
  content: "\e674";
}

.icon-xiong_bear:before {
  content: "\e675";
}

.icon-mifeng_bee:before {
  content: "\e66d";
}

.icon-quanbu_all-application:before {
  content: "\e66e";
}

.icon-faan_bill:before {
  content: "\e66f";
}

.icon-hudie_butterfly:before {
  content: "\e670";
}

.icon-xiatouying_drop-shadow-down:before {
  content: "\e671";
}

.icon-bianfu_bat:before {
  content: "\e672";
}

.icon-yazi_duck:before {
  content: "\e65c";
}

.icon-lu_deer:before {
  content: "\e65d";
}

.icon-ying_eagle:before {
  content: "\e65e";
}

.icon-haitun_dolphin:before {
  content: "\e65f";
}

.icon-gongchengche_engineering-vehicle:before {
  content: "\e660";
}

.icon-lingdai_necktie:before {
  content: "\e661";
}

.icon-hou_monkey:before {
  content: "\e662";
}

.icon-dinglan_top-bar:before {
  content: "\e663";
}

.icon-zhuti_theme:before {
  content: "\e664";
}

.icon-wendangshibai_doc-fail:before {
  content: "\e665";
}

.icon-niao_bird:before {
  content: "\e640";
}

.icon-sousuowenjianjia_folder-search:before {
  content: "\e666";
}

.icon-niu_cattle:before {
  content: "\e667";
}

.icon-lifuchangqun_full-dress-longuette:before {
  content: "\e668";
}

.icon-fanzhuanjingtou_invert-camera:before {
  content: "\e669";
}

.icon-gongchengpai_engineering-brand:before {
  content: "\e66a";
}

.icon-shanchu_delete-one:before {
  content: "\e66b";
}

.icon-lunboshipin_carousel-video:before {
  content: "\e66c";
}

.icon-gezi_pigeon:before {
  content: "\e649";
}

.icon-tuzi_rabbit:before {
  content: "\e64a";
}

.icon-gongzuotai_workbench:before {
  content: "\e64b";
}

.icon-wenzi_text:before {
  content: "\e64c";
}

.icon-paopao_soap-bubble:before {
  content: "\e64d";
}

.icon-gou_dog:before {
  content: "\e642";
}

.icon-wenjianjia_seo-folder:before {
  content: "\e64e";
}

.icon-qianbao_wallet:before {
  content: "\e64f";
}

.icon-ziranmoshi_natural-mode:before {
  content: "\e650";
}

.icon-yu_fish-one:before {
  content: "\e651";
}

.icon-dianzuan_electric-drill:before {
  content: "\e652";
}

.icon-dianweiqi_potentiometer:before {
  content: "\e653";
}

.icon-qingwa_frog:before {
  content: "\e654";
}

.icon-fugubao_retro-bag:before {
  content: "\e655";
}

.icon-zhuanbian_transform:before {
  content: "\e656";
}

.icon-shandian_lightning:before {
  content: "\e657";
}

.icon-fanzhuanxiangji_reverse-lens-one:before {
  content: "\e658";
}

.icon-duanqun_short-skirt:before {
  content: "\e659";
}

.icon-hema_hippo:before {
  content: "\e65a";
}

.icon-maotouying_owl:before {
  content: "\e65b";
}

.icon-qushi_trend-two:before {
  content: "\e644";
}

.icon-jingyu_whale:before {
  content: "\e645";
}

.icon-beixin_vest:before {
  content: "\e646";
}

.icon-faguangerjiguan_led-diode:before {
  content: "\e643";
}

.icon-xianlun_reel:before {
  content: "\e647";
}

.icon-miehuoqi_fire-extinguisher-one:before {
  content: "\e641";
}

.icon-xingxing_star:before {
  content: "\e648";
}

