.XCollapseLayout {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;

  .arco-collapse-item-header-title {
    width: 100%;
  }

  .collapse-title {
    width: 100%;
    display: flex;
    align-items: center;

    .collapse-title-shape {
      width: 3px;
      height: 14px;
      border-radius: 2px;
      margin-right: 8px;
    }

    .collapse-title-ellipsis {
      flex: 1;
      max-width: calc(100% - 12px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .item {
    min-height: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 18px;

    .content {
      height: 100%;
      min-height: 200px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .componentItem {
      cursor: move;
      box-sizing: border-box;
      border: 1px dashed transparent;
      border-radius: 8px;
      transition: border-color 0.2s ease;
      position: relative;

      & .operationArea {
        pointer-events: auto !important;
      }

      &:hover {
        border-color: #009e9e;
      }
    }

    .operationArea {
      position: absolute;
      top: -18px;
      right: 16px;
      height: 24px;
      padding: 4px;
      border: 1px solid #e5e6eb;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #fff;
      transition: all 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;

      .divider {
        margin: 0 4px;
      }

      .copyButton,
      .deleteButton {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
        color: #4e5969;
        background-color: #fff;

        &:hover {
          transform: scale(1.1);
        }
      }

      .deleteButton {
        color: #f53f3f;
      }
    }
  }
}