.enterprisePage {
  height: 100%;
  min-height: 500px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;

  .enterprisePageMain {
    width: 100%;
    display: flex;
    flex-direction: column;

    .infoCard {
      margin-bottom: 40px;
      border-radius: 4px;
      background: #fff;

      .blockHeader {
        color: #1d2129;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 16px;
      }

      &.infoCardPrimary {
        display: flex;
        flex-direction: column;

        .baseInfo {
          height: 120px;
          padding: 20px 24px;
          border-radius: 16px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: url('@/assets/images/info_bg.svg') no-repeat center/cover;
        }
        .infoCardPrimaryLeft {
          display: flex;
          align-items: center;
          gap: 24px;

          .avatarText {
            color: #4e5969;
            text-align: right;
            font-family: 'PingFang SC';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
          }

          .enterpriseId {
            color: #6b7785;
            font-size: 14px;

            & > span {
              color: #272e3b;
            }
          }

          :global(.arco-upload-list-item-picture) {
            width: 160px;
            height: 80px;
            border: 1px solid #f2f3f5;
            border-radius: 12px;
            background: #f7f8fa;
          }

          .reUploadLogo {
            border: 1px solid #f2f3f5;
            border-radius: 12px;
            background: #f7f8fa;

            :global(.arco-image-footer-with-actions) {
              width: 100%;
              height: 100%;
              border-radius: 12px;
              background-color: rgba(0, 0, 0, 0.3);
              opacity: 0;

              &:hover {
                opacity: 1;
              }

              :global(.arco-image-actions-item) {
                margin: auto;
                font-size: 32px;
              }
            }
          }

          .enterpriseName {
            color: #272e3b;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 12px;
          }
        }
      }

      .bottomSection {
        padding-left: 24px;
        box-sizing: border-box;

        .infoKey {
          width: 96px;
          color: #86909c;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }

    .statsSection {
      min-width: 180px;
      display: flex;
      gap: 20px;
      .statCard {
        height: 70px;
        background: #f7f8fa;
        border-radius: 8px;
        border: 1px solid #e5e6eb;
        padding: 8px 16px;
        min-width: 120px;
        text-align: center;
        box-sizing: border-box;

        .statLabel {
          color: #4e5969;
          font-size: 14px;
        }

        .statValue {
          color: #1d2129;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  .copyIcon {
    padding-left: 4px;
    color: var(--color-text-2);
    &:hover {
      color: #00b42a;
      // 移入便小手
      cursor: pointer;
    }
  }

  .tagWrapper {
    display: flex;
    gap: 12px;
    cursor: pointer;

    .adminTag {
      padding: 4px 8px 4px 4px;
      span {
        display: flex;
        align-items: center;
      }
    }
  }
}
