.tenantPage {
  height: 100%;
  min-height: 500px;
  padding: 32px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .tenantPageMain {
    margin-top: 64px;
    width: 50%;
    min-width: 640px;
    display: flex;
    flex-direction: column;

    .basicInfoWrapper {
      margin-bottom: 16px;
      display: flex;
      .infoSection {
        margin-left: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .infoLine {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        .infoBlock {
          padding: 4px 6px;
          background-color: #F2F3F5;
          color: var(--color-text-3);
          font-size: 12px;
        }
      }
    }
  }

  .statsSection {
    margin-bottom: 24px;
    min-width: 180px;
    display: flex;
    gap: 20px;
    .statCard {
      background: #f7f8fa;
      border-radius: 8px;
      border: 1px solid #e5e6eb;
      padding: 16px 24px;
      min-width: 120px;
      text-align: center;

      .statLabel {
        color: #86909c;
        font-size: 14px;
        margin-bottom: 4px;
      }

      .statValue {
        color: #1d2129;
        font-size: 22px;
        font-weight: 600;
      }
    }
  }

  .section {
    margin-bottom: 12px;

    .sectionTitle {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .sectionBody {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .descriptionItem {
      display: flex;
      align-items: center;
    }
  }
}

