.launch {
  background-color: #fff;
  height: calc(100% - 200px);
  padding: 16px 32px;
  .configTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .configContent {
    display: flex;
    align-items: center;
    .switchTips {
      font-size: 12px;
      color: rgb(134, 144, 156);
      margin-left: 8px;
    }
  }
}
