.tagModal {
  width: 450px;
  .tagForm {
    max-height: calc(90vh - 113px);
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 4px;
    .header {
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
