.nodeHeader {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(#f2f2ff 0%, #fbfbfb 100%);
  padding: 8px 12px 0;
  overflow: hidden;
}
.nodeHeader .content {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 8px;
}
.nodeHeader .footer {
  padding-top: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6b7785;
}
.nodeHeader .operation {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.nodeHeader .orangeTag {
  color: #ff7d00;
  background-color: #fff7e8;
  padding: 0px 4px;
  line-height: 24px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
}
.nodeHeader .tag {
  color: #165dff;
  background-color: #e8f3ff;
  padding: 0px 4px;
  line-height: 24px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
}
.title {
  font-size: 20px;
  flex: 1;
}
.sidebarTitle {
  flex: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
.icon {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
