<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 获取应用名称，默认为未命名 -->
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="unnamed"/>
    <!-- 从配置文件中获取日志路径，如果未设置则使用用户目录下的logs目录 -->
    <springProperty scope="context" name="logPath" source="logging.file.path" defaultValue="${user.home}/dataease/logs"/>
    
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- [%15.15(%thread)] %cyan(%-40.40(%logger{40})) : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 确保日志目录存在 -->
    <property name="LOG_HOME" value="${logPath}"/>
    
    <!-- 普通日志文件输出 -->
    <appender name="info_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!-- 创建日志文件的触发条件，如果目录不存在会自动创建 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <!-- 每个日志文件到10mb的时候开始切分，最多保留30天或10G，哪怕没到30天也要删除多余的日志 -->
            <totalSizeCap>10GB</totalSizeCap>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%15.15(%thread)] %-40.40(%logger{40}) : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 确保目录存在 -->
        <prudent>true</prudent>
    </appender>

    <!-- 错误日志文件输出 -->
    <appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!-- 创建日志文件的触发条件，如果目录不存在会自动创建 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <!-- 每个日志文件到10mb的时候开始切分，最多保留30天或者10G，哪怕没到30天也要删除多余的日志 -->
            <totalSizeCap>10GB</totalSizeCap>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%15.15(%thread)] %-40.40(%logger{40}) : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 确保目录存在 -->
        <prudent>true</prudent>
    </appender>

    <!-- 根据不同环境设置不同的日志级别 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="info_log" />
            <appender-ref ref="error_log" />
        </root>
        <logger name="com.cmsr" level="DEBUG"/>
    </springProfile>
    
    <!-- ft环境配置 -->
    <springProfile name="ft">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="info_log" />
            <appender-ref ref="error_log" />
        </root>
        <logger name="com.cmsr" level="DEBUG"/>
    </springProfile>

    <springProfile name="standalone,desktop,prod,distributed">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="info_log" />
            <appender-ref ref="error_log" />
        </root>
    </springProfile>

</configuration>