.administrator {
  padding: 20px;

  .arco-table-header th {
    background-color: #f5f5f5;
    text-align: center;
  }

  .arco-table-body td {
    text-align: center;
  }

  .arco-modal-content {
    .arco-input-wrapper {
      margin-bottom: 15px;
    }
  }
}