.createBusinessConatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; 
    padding-top: 40px;

    .BusinessInformation {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 208px);
        .content {
            margin-top: 48px;
            width: 600px;
            flex: 1;
        }
        .footerButton {
            margin: auto;
            padding-bottom: 30px;
        }
    }

    

    
}