.businessManagement {
    background-color: #FFFFFF;
    padding:20px;
}

.deleteModal {
   color: #4E5969;

   .title {
      margin-bottom: 24px;
   }
   .subTitle {
    margin-bottom: 8px;
   }
}  