@import "../../variables.module.less";

.editorHeader {
  /* 编辑器头部样式 */
  height: var(--editor-header-height);
  width: 100%;
  min-width: 940px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;

  box-sizing: border-box;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

  .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
  }

  .center {
    flex: 4;
    display: flex;
    justify-content: center;

    .tabIcon {
      img {
        margin-right: 8px;
        vertical-align: text-bottom;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .editorStatus {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 32px;
      color: rgba(255, 141, 26, 1);
      white-space: nowrap;
      margin-right: 24px;
      position: relative;
    }
  }
}
