.saveVersionModal {
  .pc-modal-header {
    border-bottom: 1px solid #e5e6eb;
    padding: 16px 24px;
  }

  .pc-modal-body {
    padding: 24px;
  }

  .pc-modal-footer {
    border-top: 1px solid #e5e6eb;
    padding: 16px 24px;
  }
}
