.nodeTitle {
  background-color: #93bfe2;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 4px 12px;
}

.startNodeContainer {
  width: 300px;
  height: 80px;
  background: linear-gradient(180deg, #e1f5e2 0%, #ffffff 100%);
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;

  .startNodeIcon {
    margin-right: 8px;
  }

  .startNodeTitle {
    font-weight: 500;
    font-size: 16px;
  }
}

.endNodeContainer {
  width: 300px;
  height: 80px;
  background: linear-gradient(180deg, #d9cef4 0%, #ffffff 100%);
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;

  .endNodeIcon {
    margin-right: 8px;
  }

  .endNodeTitle {
    font-weight: 500;
    font-size: 16px;
  }
}
