.dataPermission {
	width: 100%;
	margin-top: 18px;

	.permItem {
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #e5e6eb;
		border-radius: 4px;
        margin-bottom: 16px;

		.top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.left {
				.title {
					color: #1d2129;
					font-weight: 400;
					font-size: 14px;
					line-height: 28px;
				}

				.subtitle {
					color: #86909c;
					font-weight: 400;
					font-size: 12px;
					line-height: 28px;
				}
			}

			.right {
			}
		}

		.bottom {
			.name {
				color: #1d2129;
				font-weight: 400;
				font-size: 12px;
				line-height: 28px;
                white-space: nowrap;
			}

			.desc {
                font-size: 12px;
				color: #86909c;
			}
		}
	}
}

.customSelect .arco-select-selector {
  background-color: #ffe4e1;
}