.dt-ok-confirm {
    .pc-popconfirm-title {
        display: none;
    }
}
.detail-confirm-page {
    .form-item-title {
        color: rgba(78, 89, 105, 1); margin-bottom: 8px;
    }
    .pc-upload-list-type-text {
        .pc-upload-list-item {
            margin-top: 8px !important;
        }
    }
}