// 左侧五个任务菜单样式
.task-center-side {
    width: 220px; 
    overflow: hidden; 
    box-sizing: border-box; 
    padding: 0px 8px;
    .move-box-ul, .move-box-ul > li {
        list-style: none; margin: 0; padding: 0;
    }
    .TASK-ineedtodo, .TASK-ihavedone, .TASK-icreated, .TASK-icopied, .TASK-taskproxy {
        width: 18px; height: 18px; display: inline-block; margin-left: -1px; transform: scale(1.15);
    }
    .pc-tree-node-title {
        left: -8px;
        // ._menuName_1buax_8 {
        //     display: flex; align-items: center;
        // }
    }
    .TASK-ineedtodo {
        background: url(@/assets/images/task_center/willdo.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .TASK-ihavedone {
        background: url(@/assets/images/task_center/idone.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .TASK-icreated {
        background: url(@/assets/images/task_center/icreated.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .TASK-icopied {
        background: url(@/assets/images/task_center/icopied.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .TASK-taskproxy {
        background: url(@/assets/images/task_center/taskproxy.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .pc-tree-node-title-text {
        margin-right: 20px;
        margin-left: 10px;
        display: block;
        & > div {
            justify-content: space-between; align-items: center;
        }
    }
    .pc-tree-node-drag-icon {
        top: 14px; color: #333; right: 18px;
    }
    .pc-tree-node-selected {
        .pc-tree-node-drag-icon {
            color: rgb(var(--primary-6)); right: 18px;
        }
        .TASK-ineedtodo {
            background: url(@/assets/images/task_center/willdo-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .TASK-ihavedone {
            background: url(@/assets/images/task_center/idone-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .TASK-icreated {
            background: url(@/assets/images/task_center/icreated-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .TASK-icopied {
            background: url(@/assets/images/task_center/icopied-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .TASK-taskproxy {
            background: url(@/assets/images/task_center/taskproxy-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
    }
    .menu-hidden {
        .pc-tree-node-title-text > div {
            opacity: 0.5;
        }
    }
}