.infoPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 16px 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: #1d2129;
}

.tips {
    margin-top: auto;
    padding-top: 16px;
    border-top: 1px solid #e5e6eb;
    .tipText {
        font-size: 12px;
        line-height: 16px;
    }
}

/* 参数名称样式 - 统一颜色 */
.paramName {
    border: 1px solid rgba(79, 174, 123, 0.1);
    border-radius: 4px;
    line-height: 20px;
    background: rgba(79, 174, 123, 0.1);
    color: #4FAE7B;
    font-size: 12px;
    padding: 2px 7px;
    user-select: none;
    margin: 0 2px;
}