.loadingVariables {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
}
.categorySection {
  margin-bottom: 16px;
  height: 290px;
  overflow: auto;

  .categoryHeader {
    padding:8px 12px;
    background-color: #f2f3f5;
    .categoryIcon {
      color: #ff7d00;
    }
   .categoryEntityName {
      font-weight: bold;
      color: #1d2129;
    }
    :global(.pc-btn-group) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      :global(.pc-btn-size-default){
        padding: 0;
      }
    }
  }

  .listSection {
    border: none;
    :global(.pc-list-item) {
      padding: 8px 12px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f2f3f5;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .variableItem {
      .variableInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .variableName {
          font-size: 14px;
          color: #1d2129;
          flex: 1;
          margin-right: 8px;
        }
      }
    }
  }
}
