.verifyCode {
  .loginFormIcon {
    width: 0.432rem;
    height: 0.48rem;
  }
  .loginFormSuffix {
    color: @primary-color;
    font-size: 0.32rem;
    box-sizing: border-box;
    padding-right: 0.32rem;
  }
}
