body {
  @primary-1: #ecf8fb;
  @primary-2: #d1f1ff;
  @primary-3: #a3e4ff;
  @primary-4: #75d6ff;
  @primary-5: #38c4ff;
  @primary-6: #19bbff;
  @primary-7: #1496cc;
  @primary-8: #0f7099;
  @primary-9: #0a4b66;
  @primary-10: #052533;
  --primary-1: 236, 248, 251;
  --primary-2: 209, 241, 255;
  --primary-3: 163, 228, 255;
  --primary-4: 117, 214, 255;
  --primary-5: 56, 196, 255;
  --primary-6: 25, 187, 255;
  --primary-7: 20, 150, 204;
  --primary-8: 15, 112, 153;
  --primary-9: 10, 75, 102;
  --primary-10: 5, 37, 51;

  @text-color: #24515D;
  --text-color: #24515D;

  color: var(--text-color);
}
