.uplaodTrigger {
  color: #4e5969;
}
.uplaodList-text {
  width: 100%;
}
.uplaodList-text-item {
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 8px; */
  width: 100%;
  gap: 8px;
}
.uplaodList-text-item-img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  object-fit: cover;
}
.uplaodList-text-item-name {
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  color: #1d2129;
  display: inline-block;
  flex: 1;
}

.uplaodList-text-item-name-hover:hover {
  text-decoration: underline;
}

.uplaodList-text-item-process {
  flex: 1;
  display: flex;
  align-items: center;
}
.uplaodList-text-item-process-close {
  margin-left: 4px;
}
.uplaodList-text-item-opera {
  color: #86909c;
  display: flex;
  align-items: center;
}
.uplaodList-text-item-opera svg {
  margin-left: 8px;
  cursor: pointer;
}
