.pc-btn-outline.gray-outline-btn {
  display: flex;
  align-items: center;
  color: rgb(var(--gray-8));
  border-color: rgb(var(--gray-8));
  & > svg {
    font-size: 18px;
  }
}
.condition-modal-box {
  width: 750px;
  .pc-form-label-item.no-form-item {
    text-align: left;
  }
  .pc-link {
    color: rgb(var(--gray-8));
  }
  b.pc-form-item-symbol {
    padding-right: 5px;
    font-size: 16px;
    padding-left: 2px;
    position: relative;
    top: 2px;
  }
  .pc-divider {
    margin: 2px 0 11px 0;
  }
  .pc-radio {
    margin-bottom: 8px;
  }
  .pc-radio-text {
    min-width: 68px;
    display: inline-block;
  }
  .pc-btn-outline.outer-border {
    border-color: var(--color-neutral-3);
    border-radius: 4px;
    padding: 16px;
    &:hover {
      border-color: var(--color-neutral-3);
    }
  }
  .gray-part {
    padding: 8px;
    background-color: var(--color-fill-3);
    border-radius: 4px;
    margin-bottom: 12px;
    & > .pc-space {
      width: 100%;
      margin-bottom: 12px;
    }
  }
  .pc-space-item {
    &:nth-child(4) {
      flex: 1;
    }
    .pc-select-view:hover,
    .pc-input-inner-wrapper:hover {
      background-color: #fff;
    }
  }
}
.pc-drag-table-container-2 {
  margin-bottom: 16px;
  .pc-link {
    font-size: 16px;
    color: rgb(var(--gray-8));
  }
  // .pc-table-tr {
  //     margin: 10px 0;
  // }
}
