.nodeShowMore {
  position: absolute;
  top: -30px;
  right: 0;
  display: flex;
  padding-bottom: 8px;
  .iconBox {
    width: 24px;
    height: 24px;
    background: #4fae7b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
  }
}
.nodePort {
  display: none;
}
.selectedPort {
  display: block;
}
.readonlyPort {
  display: none !important;
}

.gedit-flow-activity-node:hover {
  .nodePort {
    display: block;
  }
}

.branchNode {
  width: auto !important;
  box-shadow: none !important;
  background: transparent !important;
}
