.toolsItem {
  background-color: #fff;
  color: #4e5969;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 16px;
  margin-left: 16px;
  box-shadow:
    rgba(0, 0, 0, 0.04) 0px 2px 6px 0px,
    rgba(0, 0, 0, 0.02) 0px 4px 12px 0px;
  .zoomSelect {
    margin: 0 8px;
    width: 38px;
    :global(.lfhLic) {
      border: none;
    }
  }
  .zoomIn,
  .zoomOut {
    font-size: 20px;
    color: #c9cdd4;
    cursor: pointer;
  }
  .reset {
    margin-left: 8px;
    cursor: pointer;
  }

  .globalConfig {
    cursor: pointer;
    .iconSettings {
      font-size: 16px;
      vertical-align: sub;
      margin-right: 4px;
    }
  }
  .autoLayout {
    display: flex;
    align-items: center;
    cursor: pointer;
    .iconAutoLayout {
      margin-right: 8px;
      display: flex;
    }
  }
  .toolButton {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.demoFreeLayoutTools {
  right: 10px !important;
  top: 60px !important;
}
