.outputNode {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  color: #272e3b;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
}
