.fieldPermissions {
  height: 592px;
  overflow: hidden auto;

  .table {
    border-radius: 4px;
    padding: 25px 35px;
    box-sizing: border-box;
    background-color: #f7f8fa;

    .rowItem {
      padding: 10px 0;
    }
  }
}
