@import '../../styles/variables.less';

/* 空数据源页面样式 */
.emptyDsPage {
  text-align: center;
  padding: @spacingXl 0;
}

/* 操作头部样式 */
.operationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: @spacingLg;
  padding: 34px 16px;

  &Left {
    font-size: @fontSizeLg;
    font-weight: 500;
    color: @textColor;
  }
}

/* 创建数据源表单样式 */
.dataSourceForm {
  max-width: 500px;
  margin: 0 auto;

  &Url {
    display: inline-block;
    width: calc(100% - @inputMinWidth - @formItemMarginRight);
    margin-right: @formItemMarginRight;
  }

  &TestButton {
    width: @inputMinWidth;
    display: inline-block;
    text-align: right;
  }

  &Button {
    display: flex;
    justify-content: flex-end;
  }
}

// 操作按钮样式
.operationButton {
  &Edit {
    color: @primaryColor;
    margin-right: @operationButtonMargin;
  }

  &Delete {
    color: rgba(var(--semi-red-5), 1);
  }
}

// 状态标签样式
.statusTag {
  &Success {
    background-color: rgba(var(--semi-green-5), 1);
    color: white;
  }

  &Warning {
    background-color: rgba(var(--semi-orange-5), 1);
    color: white;
  }

  &Error {
    background-color: rgba(var(--semi-red-5), 1);
    color: white;
  }
}
