.flex-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.field-config {
  p {
    margin: 0;
    padding: 0;
  }
  .pc-btn-primary.gray-btn {
    background-color: rgb(var(--gray-6));
  }
  .p-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  .title-box {
    margin-bottom: 16px;
    position: relative;
  }
  .right-switch {
    position: absolute;
    right: 0;
    top: 12px;
  }
  .right-switch,
  .switch-outer {
    display: flex;
    align-items: center;
  }
  .pc-icon-question-circle {
    color: var(--color-neutral-5);
    margin: 0 6px;
    font-size: 16px;
  }
}
.field-table-wrapper {
  margin-top: 12px;
  .pc-table-th:nth-child(3) {
    .pc-table-th-item {
      padding-left: 31px;
    }
  }
}
.field-modal {
  width: 600px;
  .out-line-box {
    border: 1px solid var(--color-neutral-3);
    border-radius: 6px;
    align-items: stretch;
  }
  .left-part {
    flex: 1;
  }
  .right-part {
    width: 240px;
    border-left: 1px solid var(--color-neutral-3);
    .li {
      padding: 3px 6px;
      background-color: rgba(242, 243, 245, 1);
      border-radius: 4px;
      margin-bottom: 8px;
      .pc-icon-close {
        &:hover {
          color: rgb(var(--primary-6));
        }
      }
    }
  }
  .left-part,
  .right-part {
    padding: 16px;
    min-height: 100px;
  }
}
.check-group-outer {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  .pc-checkbox {
    padding: 6px 0;
    width: 100%;
  }
}
