.myMenuItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  box-sizing: border-box;

  .menuName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;

    .name {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
  .menuIcon {
    display: flex;
    align-items: center;
    margin-right: 16px;
    & > div {
      display: flex;
      align-items: center;
    }
  }

  .eyeVisible {
    margin: 0 4px;
    color: #999;
  }

  .dropdownContainer {
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: opacity 0.1s ease;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .moreIcon {
    width: 16px;
    height: 16px;
  }

  &:hover {
    .dropdownContainer {
      opacity: 1;
    }
  }
}

.menuContent {
  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
}
