.myMenuItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  box-sizing: border-box;

  .menuName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
  }
  .eyeVisible {
    margin: 0 4px;
    color: #999;
  }

  .dropdownContainer {
    opacity: 0;
    transition: opacity 0.1s ease;
    cursor: pointer;
    margin-right: 4px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &:hover {
    .dropdownContainer {
      opacity: 1;
    }
  }
}
