.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .createBusiness {
    display: flex;
    align-items: center;
    .linkContent {
      margin-left: 16px;
      color: #6b7785;
      display: flex;
      align-items: center;
      cursor: pointer;
      .linkText {
        margin-left: 10px;
        color: #009e9e;
        margin-bottom: 0;
        cursor: pointer;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .copyIcon {
      cursor: pointer;
    }
  }
  .searchContent {
    display: flex;
    align-items: center;

    .searchInput {
      margin-left: 8px;
      min-width: 218px;
      :global(.pc-input-group > :last-child) {
        border-radius: 24px;
      }
    }
  }
}
