<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmsr.onebase.module.bpm.core.dal.mapper.BpmFlowCcRecordMapper">

     <select id="getCcPage" resultType="com.cmsr.onebase.module.bpm.core.dto.BpmCcRecordDTO">
        select * from (
            select
            t3.app_id,
            t3.bpm_title,
            t3.initiator_id,
            t3.initiator_name,
            t3.initiator_avatar,
            t3.initiator_dept_id,
            t3.initiator_dept_name,
            t3.submit_time,
            t3.form_summary,
            t3.form_name,
            t3.binding_view_id,
            t2.flow_status,
            t2.node_type,
            t.id,
            t.instance_id,
            t.task_id,
            t.viewed,
            t.viewed_time,
            t.user_id,
            t.creator,
            t.create_time,
            t.updater,
            t.update_time,
            t4.agent_id as agent_id,
            t4.agent_name as agent_name,
            ROW_NUMBER() OVER (
                PARTITION BY t.id
                ORDER BY CASE
                WHEN t.user_id = #{userId} THEN 1
                WHEN t4.agent_id = #{userId} THEN 2
                ELSE 3
                END
            ) as rn
            from
            bpm_flow_cc_record t
            left join bpm_flow_instance t2 on t.instance_id = t2.id
            left join bpm_flow_instance_biz_ext t3 on t.instance_id = t3.instance_id
            left join bpm_flow_agent_ins t4 ON t.task_id = t4.task_id AND t.user_id = t4.principal_id and t4.deleted = 0
        where
        t.deleted = 0 and t2.deleted = 0 and t3.deleted = 0
        and (t.user_id = #{userId} or t4.agent_id = #{userId})

        <!-- app_id -->
        AND t3.app_id = #{queryVO.appId}

        <!-- keyword 模糊搜索 -->
        <if test="queryVO != null and queryVO.keyword != null and queryVO.keyword != ''">
            AND (
            t3.bpm_title LIKE CONCAT('%', #{queryVO.keyword}, '%')
            OR t3.initiator_name LIKE CONCAT('%', #{queryVO.keyword}, '%')
            OR t3.form_summary LIKE CONCAT('%', #{queryVO.keyword}, '%')
            )
        </if>

        <!-- businessId -->
        <if test="queryVO != null and queryVO.businessId != null and queryVO.businessId != ''">
            AND t3.binding_view_id = #{queryVO.businessId}
        </if>

        <!-- flowStatusList -->
        <if test="queryVO != null and queryVO.flowStatusList != null and queryVO.flowStatusList.size() > 0">
            AND t1.flow_status IN
            <foreach collection="queryVO.flowStatusList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <!-- nodeCodeList -->
        <if test="queryVO != null and queryVO.nodeCodeList != null and queryVO.nodeCodeList.size() > 0">
            AND t1.node_code IN
            <foreach collection="queryVO.nodeCodeList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <!-- 时间范围 -->
        <if test="queryVO != null and queryVO.submitTimeStart != null">
            AND t3.submit_time &gt;= #{queryVO.submitTimeStart}
        </if>

        <if test="queryVO != null and queryVO.submitTimeEnd != null">
            AND t3.submit_time &lt;= #{queryVO.submitTimeEnd}
        </if>

        <!-- 发起人 -->
        <if test="queryVO != null and queryVO.initiatorIdList != null and queryVO.initiatorIdList.size() > 0">
            AND t3.initiator_id IN
            <foreach collection="queryVO.initiatorIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <!-- 查看状态条件：viewed -->
        <if test="queryVO != null and queryVO.viewed != null">
            AND t.viewed =
            <choose>
                <when test="queryVO.viewed == true">1</when>
                <otherwise>0</otherwise>
            </choose>
        </if>

        <!-- 排序 -->
        <choose>
            <when test="queryVO != null and queryVO.sortType == 'asc'">
                ORDER BY t.create_time ASC
            </when>
            <otherwise>
                ORDER BY t.create_time DESC
            </otherwise>
        </choose>
        ) tf where rn = 1
    </select>

</mapper>
