.back-settings {
    display: flex; align-items: center;
    & > .arco-icon-settings {
        font-size: 16px; margin-left: 8px; cursor: pointer; color: var(--color-neutral-5);
        &:hover {
            color: rgb(var(--gray-10));
        }
    }
}
.table-demo-editable-cell {
    .arco-icon-edit {
        color: var(--color-neutral-5); margin-left: 4px;
    }
}