// 左侧五个任务菜单样式
.arco-tree.menuTree {
    .ineedtodo-taskicon, .ihavedone-taskicon, .icreated-taskicon, .icopied-taskicon, .taskproxy-taskicon {
        width: 18px; height: 18px; display: inline-block; margin-left: -1px; transform: scale(1.15);
    }
    // .arco-tree-node-title {
    //     left: -8px;
    //     // ._menuName_1buax_8 {
    //     //     display: flex; align-items: center;
    //     // }
    // }
    .ineedtodo-taskicon {
        background: url(@/assets/images/task_center/willdo.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .ihavedone-taskicon {
        background: url(@/assets/images/task_center/idone.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .icreated-taskicon {
        background: url(@/assets/images/task_center/icreated.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .icopied-taskicon {
        background: url(@/assets/images/task_center/icopied.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .taskproxy-taskicon {
        background: url(@/assets/images/task_center/taskproxy.svg) no-repeat center;
        background-size: 100% 100%;
    }
    .arco-tree-node-selected {
        .arco-tree-node-drag-icon {
            color: rgb(var(--primary-6)); right: 18px;
        }
        .ineedtodo-taskicon {
            background: url(@/assets/images/task_center/willdo-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .ihavedone-taskicon {
            background: url(@/assets/images/task_center/idone-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .icreated-taskicon {
            background: url(@/assets/images/task_center/icreated-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .icopied-taskicon {
            background: url(@/assets/images/task_center/icopied-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        .taskproxy-taskicon {
            background: url(@/assets/images/task_center/taskproxy-on.svg) no-repeat center;
            background-size: 100% 100%;
        }
        // .arco-tree-node-title-text {
        //     & > div {
        //         & > div:nth-child(2) {
        //             background: url(@/assets/images/task_center/setting-on.svg) no-repeat center;
        //             background-size: 160% auto;
        //             & > svg {
        //                 opacity: 0; display: block;
        //             }
        //         }
        //     }
        // }
    }
}