.drawer {
  :global(.arco-drawer-content) {
    box-sizing: border-box;
    background: transparent;
    padding: 12px;
    height: 100%;
    overflow-y: auto;
  }
  :global(.arco-drawer-header) {
    justify-content: center;
  }
}

.content {
  border: 1px solid #ccc;
  z-index: 100;
  margin: 0 50px;
  height: 100%;
}

.Toolbar {
  border-bottom: 1px solid #ccc;
}

.editor {
  height: calc(100% - 56px);
  overflow-y: auto;
}

