@panel-background-color: #fff;
@panel-padding: 16px;
.rolePage {
  height: 100%;
  .pageLayout {
    height: 100%;
    background-color: transparent;
  }
  .leftPanel {
    margin-right: 16px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: none;
    background-color: @panel-background-color;

    :global(.arco-layout-sider-children) {
      padding: @panel-padding;
    }
    .searchInput {
      :global(.arco-input-inner-wrapper) {
        border-radius: 24px;
      }
    }

    .roleList {
      flex: 1;
      padding-left: 24px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .rightPanel {
    display: flex;
    flex-direction: column;
    padding: @panel-padding;
    background-color: @panel-background-color;
    .tableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      flex: 0;
      .searchInput {
        margin-bottom: 16px;
      }
      .arco-input-search {
        margin-right: 8px;
      }
    }
    .tableContainer {
      flex: 1;
      margin-bottom: 16px;
      .paginationContainer {
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
      }
      .active {
        color: #009e9e;
      }
      .inactive {
        color: #8c8c8c;
      }
    }
  }

  .userListInput {
    width: 220px;
    margin-right: 12px;

    :global(.arco-input-inner-wrapper) {
      border-radius: 24px !important;
    }
  }
}

.permissionInput {
  width: 200px;
  margin-right: 32px;

  :global(.arco-input-inner-wrapper) {
    border-radius: 24px;
  }
}
