.switchWrapperOBMobile {
  .arco-form-item-control {
    display: flex;
    justify-content: flex-end;
  }
}

.verticalLayout {
  .arco-form-item-control {
    display: flex;
    justify-content: flex-start;
  }
}