.formItem {
  .defaultButtonIcon {
    margin-right: 8px;
  }

  .SortedButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  min-height: 100px;
  padding: 8px 12px;
  box-sizing: border-box;
}
