.list-item-with-dropdown {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;

  &__title {
    margin-right: 6px;
    flex: 1;
    width: 0;
    overflow: hidden;
  }

  &__actions {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &.active {
    background-color: #e8f4ff;
    border-color: #add6ff;
  }
}

.customDropdown {
  min-width: 180px;
}
