.runtimeHome {
    background-color: #F7F8FA;
    min-height: 100vh;
    .tabBar {
      border-top: 1px solid #ccc;
      background-color: #fff;
      @media (min-width: 900px) {
        max-width: 750px;
      }
    }
}