.leftNav {
  position: absolute;
  top: 52px;
  left: 0px;
  z-index: 999;
  width: 112px;
  height: 100%;
  background-color: #ffffff;
  padding: 22px 11px 0px 11px;
  box-sizing: border-box;
  .process {
    font-family: PingFang SC;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1d2129;
  }
  .processNodeTitle {
    margin-bottom: 20px;
    margin-top: 12px;
  }
  .navTitleColor {
    color: #86909c;
    margin-bottom: 8px;
    margin-top: 12px;
    font-size: 10px;
  }
  .line {
    width: 88px;
    height: 1px;
    background-color: #f2f3f5;
    margin-bottom: 15px;
  }
  .remark {
    margin-left: 10px;
    width: 45px;
    height: 45px;
    font-size: 10px;

    color: #4e5969;
    .copy {
      margin-bottom: 13px;
    }
    .delete {
      color: #f53f3f;
    }
  }
}
