.dataSourceContainer {
  .noMarginBottom {
    margin-bottom: 0;
  }

  .dropdownRender {
    .dropdownRenderCommon;
  }
}

.drawerContainer {
  .container {
    display: flex;
    height: 100%;
    background: #f2f3f5;
  }

  .leftColumn {
    flex: 1;
    background: #fff;
    margin: 20px;
    border-radius: 4px;
    padding: 16px;
  }

  .rightColumn {
    width: 300px;
    background: #fff;
    padding: 10px 20px 20px;
    max-height: calc(100vh - 40px - 40px);
    overflow-x: hidden;
  }

  .popoverContainer {
    padding: 8px;

    .popoverContent {
      margin-bottom: 12px;

      .contentLabel {
        margin-right: 12px;
      }
    }
  }

  .fieldDisplaySpan {
    margin-left: 8px;
  }

  .dropdownRender {
    .dropdownRenderCommon;
  }

  .iconQuestionCircleFill {
    margin: 0 8px;
    color: '#b5b8be';
  }

  .switchLabel {
    :global(.arco-form-label-item) {
      padding-right: 0;
    }

    .switchButton {
      float: right;
    }
  }
}

.dropdownRenderCommon {
  padding: 8px;

  .headerCheckbox {
    margin-bottom: 8px;
  }

  .displayFieldOptions {
    display: flex;
    align-items: center;
    padding: 6px 0;
    border-radius: 6px;
    margin-bottom: 4px;
  }

  .childCheckbox {
    margin-right: 8px;
  }

  .optionSpan {
    color: '#3573f7';
  }

  .operationDiv {
    display: flex;
    align-items: center;
    margin-left: auto;

    .iconEdit {
      cursor: pointer;
    }
  }
}
