.attributes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;

  .itemLabel {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .viewModeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;

    .checkboxContent {
      margin-top: -18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 200px;

      .checkboxContentTitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #4e5969;
      }

      .checkboxContentDesc {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #86909c;
      }
    }
  }

  .defaultWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    margin-bottom: 16px;
    width: 100%;

    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .viewTitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #4e5969;
        padding-left: 0px;
      }

      .viewTag {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      color: #86909c;
    }
  }

  .templateWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
  }
}
